altgraph==0.17.4
arabic-reshaper==3.0.0
django-filter
Django==5.2.5
django-cors-headers==4.7.0
djangorestframework==3.16.1
geocoder==1.38.1
google-api-core==2.25.1
google-api-python-client==2.179.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.2
googleapis-common-protos==1.70.0
pandas
SciPy
numpy
